@font-face {
    font-family:roboto;
    src: url("/https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

}

:root{
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #000000;
    --efecto: all .5s;
}
  
* {
color: #1e1e1e;

background-color: purple;

font-family: 'Roboto', sans-serif;

font-size: 12pt;

font-weight: 400;

list-style: none;

text-decoration: none;

border: solid 2px rgb(202, 27, 27);

outline: none;
margin: 0;
padding: 0; 

}

body{
    display: flex;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 60%;
    height: 60%;
    display: flex;
    overflow-x: hidden;
}
.container aside{
    width: 50%;
    height: 100vh;
    background-color: #be245f;
    padding: var(--padding);
}
.container aside .menu{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.container aside .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: safe;
}
.container aside .menu a span{
    margin-right: 8px;
}

.logo {
    display: flex;
    justify-content: space-between;

}
.container aside .menu {
    background-color: transparent;
    border-radius: 5px;
    color: #ffffff;
}
.container aside .menu {
    color: #ffffff;
}

/* ----------------------------------------------------------------------
-----------------------conteiner----------------------------------------- 
-------------------------------------------------------------------------*/

.lista section{
    width: 80%;
    height: 100vh;
    color: #ffffff;
    background-color: var(--fondo);
    overflow-y: scroll;
    padding-bottom: 5rem;
}

.lista section  {
	grid-row: 1/3;
	grid-column: 2/-1;
	background-color: #121212;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
    width: 100%;
    align-items: self-start;
}

.lista section .title-playlist {
	font-size: 2.4rem;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}

.container section .title-playlist:hover {
	text-decoration: underline;
}

.img_music {
    width: 50%;
	border-radius: 4px;
    overflow: hidden;
    background-image: -moz-linear-gradient()
}