@font-face {
    font-family:roboto;
    src: url("/https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

}

:root{
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #000000;
    --efecto: all .5s;
}
  
* {
color: #1e1e1e;

background-color: purple;

font-family: 'Roboto', sans-serif;

font-size: 12pt;

font-weight: 400;

list-style: none;

text-decoration: none;

border: solid 2px rgb(202, 27, 27);

outline: none;
margin: 0;
padding: 0; 

}

body {
    display: flex;
    
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    display: flex;
}


.container {
    width: 60%;
    height: 60%;
    position: relative;
    background-color: #be245f;
    display: flex;
    padding: var(--padding);
    overflow-x: hidden;
}
aside.container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: safe;
}

img.logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: static;
    
}



/* ----------------------------------------------------------------------
-----------------------conteiner----------------------------------------- 
-------------------------------------------------------------------------*/

section.lista {
    position: relative;
    width: 60%;
    height: 60%;
    display: flex;
    overflow-x: hidden;
}

section.lista {
	background-color: transparent;
    color: #FFFFFF;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
    width: 100%;

    }
/*
    .listas_canciones {
        background-color: transparent;
        border-radius: 5px;
        color: #ffffff;
        font-size: 50pt;
    }*/

   

section.lista .title_reproductor {
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
   
}


section.lista .descripcion {

    text-decoration: none;
    padding: 10px 1rem;
    color: #FFFFFF;
    font-weight: normal;
    display: flex;
   


   /* margin-left: 30%; */
}


 section.lista .descripcion .cancion {

    display:flex ;
    color: #FFFFFF;
    font-weight: bold;
    white-space: 10pt;

}

p {
 color: #FFFFFF;
 font-weight: normal;
 display: flex;
 justify-content: left;
}

/*
section.lista p.descripcion  {
   
    padding: 10px 1rem;
    color: #FFFFFF;
    font-weight: normal;
    display: table-column;
    justify-content: center;
    
} */


section.lista .descripcion .tiempo {

    text-decoration: none;
    padding: 10px;
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    font-weight: normal;
    display: grid;
    justify-content: right;
    
}


section.lista .descripcion .img  {

    width: 100px;
    height: 100px;
    padding: 10px;
   
}